/* .outlet {
    position: relative;
} */

.mobile_nav {
    display: none;
}

.mobile_nav_icons {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 15px;
}

.nav_icons {
    height: 440px;
    background: #EEC599;
    border-radius: 5px;
    width: 160px;
    padding: 10px 0;
}

.btn_icon {
    margin-right: -3px;
}

.nav_img {
    /* width: 60px; */
    height: 65px;
}

.social_icons_sm {
    height: 50px;
    width: 30px;
    color: #153438;
}

.mobile_nav_icons_in {
    display: flex;
    align-items: center;
    margin-left: 15px;
    text-decoration: none;
}


.activated {
    background: #153438;
    border-radius: 5px;
    width: 145px;
    height: 63px;
    display: flex;
    justify-self: end;
    color: #EEE2D1 !important;
}

.mobile_nav_icons p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #EEE2D1;
    margin-left: -8px !important;
}

.mobile_nav_icons_in p {
    margin-left: -8px !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #153438;
}


.hide_bar{
    transform: translateX(160px);
    transition: transform 0.5s ease-in;
}

.show_bar{
    transform: translateX(0px);
    transition: transform 0.5s ease-in;
}

@media screen and (max-width:768px) {
    .mobile_nav {
        position: fixed;
        top: 25%;
        right: 0;
        display: flex;
        align-items: center;
        z-index: 333;
    }
}