.the_nft_section {
    padding: 20px 3.6%;
    display: flex;
}

.left_card {
    height: 724px;
    background: #153438;
    border-radius: 5px;
    padding: 40px;
    color: #EEE2D1;
}

.left_card img {
    height: 503px;
    width: 100%;
    border-radius: 5px;
}

/* d-flex flex-column justify-content-center align-items-center mt-3 text-center gap-1 */

.first_card_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    text-align: center;
    gap: 4px;
}

.nft_card_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #EEE2D1;
}

.nft_card_des {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #EEE2D1;
}

.collection_btn {
    height: 50px;
    background: #EDE1D0;
    border-radius: 5px;
    border: none;
    width: 60%;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #153438;
}

.explore_btn {
    width: 112px;
    height: 45px;
    background: #EDE1D0;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #153438;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.nft_card {
    height: 228px;
    background: #153438;
    border-radius: 5px;
    padding: 14px;
    display: flex;
    gap: 20px;
}

.nft_card img {
    height: 200px;
    border-radius: 5px;
}

.nft_third_card {
    height: 228px;
    background: #EEC599;
    border-radius: 5px;
    display: grid;
    place-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #153438;
    text-transform: uppercase;
}

.right_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.anchor{
    color: #153438;
}


@media screen and (width<=576px) {
    .left_card {
        height: auto;
        padding: 14px;
    }

    .left_card img {
        height: 351px;
        width: 100%;
        border-radius: 5px;
    }

    .the_nft_section {
        flex-direction: column;
    }

    .nft_card {
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
    }

    .nft_card img {
        height: 351px;
    }

    .explore_btn {
        position: static;
        /* margin-top: 10px; */
        width: 50%;
        margin-left: 25%;
        margin-top: 10px;
    }

}


@media screen and (577px<=width<=991px) {
    .the_nft_section {
        flex-direction: column;
    }

    .left_card {
        display: flex;
        height: auto;
        padding: 14px;
        position: relative;
    }

    .left_card img {
        height: 300px;
    }

    .nft_card {
        height: auto;
        margin-bottom: 20px;
    }

    .first_card_heading {
        display: block;
        text-align: start;
        margin-left: 20px;
    }

    .nft_card_des {
        margin-top: 10px;
    }

    .collection_btn {
        position: absolute;
        width: 25%;
        right: 10px;
        bottom: 10px;
    }
}



@media screen and (992px<=width<=1200px) {
    .left_card{
        height: auto;
    }

    .nft_card{
        height: 250px;
    }

    .nft_card img {
        height: 220px;
        width: 80%;
    }

    .nft_card_des{
        font-size: 14px;
    }

    .break{
        margin-top: -24px !important;
    }
}