.navbar {
    background-color: #EEC599;
        padding: 0 3.6% !important;
        display: flex;
        justify-content: center;
        height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: -20px;
}

.images {
    margin-left: -12px;
}

.logo_image {
    height: 40px;
    width: 60px;
}


.logo p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #153438;
    margin-left: -10px !important;
}

.nav_option {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #153438;
    margin: 0 0 0 -15px;
}

.social_icons {
    height: 50px;
    width: 40px;
    color: #153438;
}

@media screen and (max-width:768px) {
    .logo {
        width: 25%;
        margin: 0 auto;
    }
}